.App {
	min-height: 100vh;
	min-width: 100vw;
	font-family: sans-serif;
}
* {
	margin: 0px;
}
@media only screen and (max-width: 900px) {
	.App {
		h2 {
			font-size: 15px;
		}
		p {
			font-size: 13px;
		}
	}
}
