@use "../styles/variables.scss" as *;
.Intercoms {
	margin-top: 15vh;
	color: $granatowy;
	h1 {
		margin-left: 80px;
		text-transform: uppercase;
	}
}
@media only screen and (max-width: 900px) {
	.Intercoms {
		h1 {
			margin-left: 5%;
		}
	}
}
