.Post {
	margin: 50px 251px 150px 251px;
	min-height: 500px;
	h2 {
		margin: 20px 0px 20px 10px;
		text-transform: uppercase;
	}
}
.ImgPCont {
	// background-color: darkorange;
	display: flex;
	flex-direction: column;
	align-items: center;
	.ImgContainer {
		margin-bottom: 10px;

		img {
		}
		img {
			max-width: 100%;
			// width: 400px;
			height: 50vh;
		}
	}
	p {
		text-align: justify;
		font-size: 20px;
		// padding-top: 60px;
	}
}
@media only screen and (max-width: 900px) {
	.Post {
		margin: 50px 50px 150px 50px;

		h2 {
			font-size: 25px;
			padding-left: 10%;
			margin-bottom: 40px;
		}
	}
	.ImgPCont {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (max-width: 300px) {
	.Post {
		h2 {
			margin-left: 0%;
		}
	}
}
