.Post {
	margin: 50px 251px 150px 251px;
	min-height: 500px;
	h2 {
		margin: 20px 0px 20px 10px;
		text-transform: uppercase;
	}
}
.ImgPCont {
	// background-color: darkorange;
	.ImgContainer {
		// background-color: darkblue;
		float: right;
		margin: 0px 0px 5px 20px;
		img {
			width: 400px;
			height: auto;
		}
	}
	p {
		text-align: justify;
		font-size: 20px;
		// padding-top: 60px;
	}
}
@media only screen and (max-width: 900px) {
	.Post {
		margin: 50px 50px 150px 50px;
		h2 {
			font-size: 25px;
			padding-left: 200px;
			margin-bottom: 40px;
		}
	}
	.ImgPCont {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
