@use "../styles/variables.scss" as *;

.Footer {
	min-height: 40vh;
	width: 100vw;
	text-transform: uppercase;
	// background-color: $gray;
	background-color: $granatowy;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	p {
		font-size: 13px;
	}
}
.Logo {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		max-width: 100%;
	}
}

.LogosContainer {
	display: flex;
	justify-content: center;
	width: 60%;
	overflow-x: hidden;
	scrollbar-width: 1px;
	div {
		padding: 1%;
	}
}
@media only screen and (max-width: 900px) {
	.Footer {
		height: 40vh;
		overflow: hidden;
		.LogosContainer {
			height: 100%;
			flex-wrap: wrap;
		}
		.Logo {
			height: auto;
		}
	}
}
