@use "../styles/variables.scss" as *;
.Navigation {
	a {
		text-decoration: none;
		color: black;
	}
	background-color: $granatowy;
	display: flex;
	align-items: center;
	max-height: 15vh;
	height: 15vh;
	width: 100%;
	position: fixed;
	top: 0px;
	transition: all 1s;
}
.Logo {
	background-color: $lightblue;
	h1 {
		color: white;
	}
	width: 200px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
	margin-right: 50px;
}
.Buttons {
	button {
		color: white;
		font-size: 15px;
		font-weight: 700;
		height: 40px;
		margin-right: 10px;
		background-color: $lightblue;
		border: 0px;
	}
}
