.Navigation {
	background-color: darkcyan;
	display: flex;
	align-items: center;
	max-height: 15vh;
	height: 15vh;
	width: 100%;
	position: fixed;
	top: 0px;
	transition: all 1s;
}
.Logo {
	background-color: aquamarine;
	width: 200px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
	margin-right: 50px;
}
.Buttons {
	background-color: darkmagenta;
	button {
		height: 50px;
		margin-right: 10px;
	}
}
